@import 'tailwindcss';

@config '../tailwind.config.js';

:root {
  --background: #f3f3f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
}

img.white-svg {
  filter: invert(1);
}
